<div class="usa-prose padding-right-4">
  {% if post.data.image %}
    {% assign imagepath="./_img/" | append: post.data.image %}
    {% image_with_class imagepath "usa-collection__img" post.data.image_alt_text %}
  {% endif %}
  <div class="padding-bottom-5 margin-top-4 usa-prose border-bottom-05 border-base-lightest usa-content">
    <h3 class="title">
      <a class="usa-link text-no-underline" href="{{ post.url | url }}"
        >{{ post.data.title }}</a>
    </h3>
    <div class="margin-bottom-2">
      <div class="margin-top-neg-105 font-family-ui">
        <time datetime="{{ post.date | date: '%Y-%m-%dT12:00:00+01:00' }}">
          {{ post.date | date: '%B %d, %Y' }}
        </time>
      </div>
    </div>

    <p class="usa-collection__description">
      {{ post.data.excerpt | truncatewords: 10 }}
    </p>
    <ul class="usa-collection__meta" aria-label="More information">
      <li class="usa-collection__meta-item">
        {{ post.data.author }}
      </li>
    </ul>

  </div>
</div>
