{% comment %}
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}

<section class="usa-hero">
  <div class="grid-container">
    <div class="usa-hero__callout">
      <h1 class="usa-hero__heading"><span class="usa-hero__heading--alt display-inline">There’s no easier way</span> to build, launch and manage government sites.
      </h1>
      <p>Pages hosts over 100+ sites across Federal agencies which account for over 140,000+ page views per day.</p>
      <a class="usa-button" href="/sign-up/">Get Started</a>
    </div>
  </div>
</section>
