{% comment %}
Use this section to highlight key elements of your site. Some
sites will only have two while others may have six to eight.
{% endcomment %}

<section class="usa-graphic-list usa-section usa-section--dark">
  <div class="grid-container">
    <h2>Why cloud.gov?</h2>
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Compliant from the start</h3>
          <p>cloud.gov offers a fast way for federal agencies to host and update websites, APIs, and other applications. Employees and contractors can focus on developing mission-critical applications, leaving server infrastructure management to us.</p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">FedRAMP authorized</h3>
          <p>cloud.gov has a FedRAMP Joint Authorization Board (JAB) authorization, which means it complies with federal security requirements. When you build a system on cloud.gov, you leverage this compliance and reduce the amount of work you need to do.</p>
        </div>
      </div>
    </div>
  </div>
</section>
