{% comment %}
  The sidenav is not loaded by default on the main pages. To include this navigation you can either use the
  _layouts/page.html layout template, or you can add "sidenav: true" in the front-matter of your pages
{% endcomment %}

<aside class="usa-layout-docs-sidenav desktop:grid-col-3 padding-bottom-4">
  {% assign categories = collections.sideNavigation | getSideNav: sidenavIdentifier %}
  <nav>
    <ul class="usa-sidenav">
      {%- for category in categories -%}
        <li class="usa-sidenav__item">
          <a
            class="usa-sidenav__item--parent-item usa-sidenav__sublist--middle-generation {% if category.id == parent %}usa-current{% endif %}"
            aria-expanded=""
            {% if category.id == parent %}
              true
            {% else %}
              false
            {% endif %}
            aria-controls="side-nav-{{ category.id }}"
          >
            <svg class="usa-icon" aria-hidden="true" role="img">
              <use xlink:href="{{ '/img/sprite.svg#' | append: category.icon }}"></use>
            </svg>
            <span class="sidenav-category-label">{{ category.name }}</span>
          </a>
          <ul
            class="usa-sidenav__sublist {% if category.id != parent %}usa-sr-only{% endif %}"
            id="side-nav-{{ category.id }}"
            aria-hidden="true"
          >
            {%- for navLink in category.children -%}
              <li class="usa-sidenav__item">
                <a href="{{ navLink.url }}" class="{% if navLink.url == page.url %}usa-current{% endif %}">
                  {{ navLink.title }}
                </a>
                <!--
                  <ul class="usa-sidenav__sublist">
                      <li class="usa-sidenav__item">
                          <a href="">Grandchild link</a>
                      </li>
                  </ul>
                -->
              </li>
            {%- endfor -%}
          </ul>
        </li>
      {%- endfor -%}
    </ul>
  </nav>
</aside>
