{% comment %} 
This tagline will appear in your homepage
{% endcomment %}

<section class="grid-container usa-section usa-prose">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-5">
      <h1 class="font-heading-xl margin-top-8 tablet:margin-bottom-0">You don't have to build your tech from the ground up.</h1>
    </div>
    <div class="tablet:grid-col-7 usa-prose">
      <p class="usa-intro">cloud.gov helps government agencies buy, build, and authorize modern cloud services.</p>
      <p><i class="fa fa-angle-double-right"></i> <a href="{{ site.baseurl }}/docs/overview/what-is-cloudgov/" class="cg-arrow">Platform overview</a></p>
      <p><i class="fa fa-angle-double-right"></i> <a href="{{ site.baseurl }}/pricing/" class="cg-arrow">Packages and pricing</a></p>
      <p><i class="fa fa-angle-double-right"></i> <a href="{{ site.baseurl }}/docs/overview/enterprise-approach-to-cloud/" class="cg-arrow">Enterprise accounts</a></p>
      <p><i class="fa fa-angle-double-right"></i> <a href="{{ site.baseurl }}/docs/technology/responsibilities/" class="cg-arrow">Security and compliance</a></p>
    </div>
  </div>
</section>