{% comment %}
This tagline will appear in your homepage
{% endcomment %}
<div class="grid-container maxw-desktop">
    <section class="usa-section">
        <div class="site-welcome">
            <h1 class="tablet:grid-col-10">You don't have to build your tech from the ground up.</h1>
            <p class="usa-intro tablet:grid-col-8">
                cloud.gov helps government agencies buy, build, and authorize modern cloud services.
            </p>

            <div class="grid-row grid-gap">
                <div class="tablet:grid-col-5 usa-prose bar-top">
                    <p><a href="{{ site.baseurl }}/docs/overview/what-is-cloudgov/" class="cg-arrow">Platform
                        overview</a></p>
                    <p><a href="{{ site.baseurl }}/pricing/" class="cg-arrow">Packages and pricing</a></p>
                    <p><a href="{{ site.baseurl }}/docs/overview/enterprise-approach-to-cloud/" class="cg-arrow">Enterprise
                        accounts</a></p>
                    <p><a href="{{ site.baseurl }}/docs/technology/responsibilities/" class="cg-arrow">Security and
                        compliance</a></p>
                </div>
            </div>
        </div>
    </section>
</div>
