---
import Markdown from "./Markdown.astro";

interface Step {
  heading: string;
  text?: string;
  list?: string[];
}

export interface Props {
  headingLevel?: "h3" | "h4";
  checks?: boolean;
  steps: Step[];
}

const { headingLevel = "h3", checks = false, steps } = Astro.props;
const HeadingTag = headingLevel;
---

<ol class={`usa-process-list ${checks && "checks"}`}>
  {
    steps.map((step) => (
      <li class="usa-process-list__item">
        <Markdown content={step.heading} tag={HeadingTag} classes="usa-process-list__heading" inline />
        {step.text && (
          <Markdown
            content={step.text}
            classes="usa-process-list__text font-sans-md line-height-sans-4 margin-bottom-3"
            inline
          />
        )}
      </li>
    ))
  }
</ol>
