{% comment %}
  This is used for just about every page. It provides the border around the content.
  The home page uses wide.html layout, since it extends full width of page
{% endcomment %}

<!doctype html>

<html lang="en">
  {% include 'meta.html' %}

  <body>
    {% include 'header.html' %}

    {% if navigation == 'pages' %}
      {% assign primary_navigation = pages.navigation.primary %}
      {% assign secondary_navigation = pages.navigation.secondary %}
    {% else %}
      {% assign primary_navigation = site.primary_navigation %}
      {% assign secondary_navigation = site.secondary_navigation %}
    {% endif %}
    {% include 'menu.html', primary_navigation: primary_navigation, secondary_navigation: secondary_navigation %}

    {{ content }}

    {% include 'footer.html' %}

    {% comment %} Hide SVG Sprites {% endcomment %}
    <div style="display: none;">
      {% usa_icons_sprite %}
      {% uswds_icons_sprite %}
    </div>

    {% include 'scripts.html' %}
  </body>
</html>
