---
layout: layouts/base
---
{% comment %}
  This template is for a single page that does not have a date associated with it. For example, an about page.
{% endcomment %}

<div class="usa-layout-docs usa-section bg-accent-warm-light docs-layout">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      {% if sidenav == true %}
        {% if navigation == 'pages' %}
          {% include 'pages/sidenav.html' %}
        {% else %}
          {% include 'sidenav.html' %}
        {% endif %}
      {% endif %}
      <main
        id="main-content"
        class="usa-layout-docs__main usa-prose bg-white padding-y-8 padding-x-4 desktop:grid-col-8"
      >
        <h1>{{ title }}</h1>

        {% assign toc_content = content | prepTOCContent %}
        {% assign emptytoc = toc_content | isTocEmpty %}

        {% if emptytoc == false and showtoc == true %}
          <h2>Table of Contents</h2>
          <div id="table-of-contents">
            {{ toc_content }}
          </div>
        {% endif %}

        {{ content }}

        <div class="grid-row">
          <div class="grid-col flex-4"></div>
          <div class="grid-col flex-1">
            <p>
            </p>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
