---
layout: layouts/base
---

{% comment %}
This template is for a single page that does not have a date associated with it. For example, an about page.
{% endcomment %}


<div class="usa-layout-docs usa-section bg-accent-warm-light">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      {% if sidenav == true %}
      {% include "sidenav.html" %}
      {% endif %}
      <main id="main-content"
            class="usa-layout-docs__main usa-prose bg-white padding-y-8 padding-x-4 desktop:grid-col-8">
        <h1>{{ title }}</h1>

        {{ content }}

        <div class="grid-row">
          <div class="grid-col flex-4"></div>
          <div class="grid-col flex-1"><p><a href="{{ site.github_url }}/edit/{{ site.github_branch }}/{{ page.relative_path }}">Suggest edits</a></p></div>
        </div>

      </main>
    </div>
  </div>
</div>
