---
const { ...props } = Astro.props;
import Meta from "../components/Meta.astro";
import HeaderMenu from "../components/HeaderMenu.astro";
import { headerProps } from "../data/header";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <Meta />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="preload"
      href={`${Astro.site}/styles/uswds-theme.css`}
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
  </head>
  <body>
    <script src="@uswds/uswds/components/usa-banner"></script>
    <usa-banner></usa-banner>

    <HeaderMenu {...headerProps} />

    <slot />
    <script>
      import "@uswds/uswds";
    </script>
  </body>
</html>
