@use "uswds-core" as *;

$fa-font-path: "../node_modules/@fortawesome/fontawesome-free/webfonts";

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/v4-shims.scss";

.partner-card {
  @include u-margin(1);
  @include u-padding-y(1);
  @include u-border(1px);
  @include u-border('base-light');

  h5 {
    @include u-margin-y(1);
  }

  a {
    @include u-color('ink');
  }

  img {
    @include u-square(9);
    @include u-float('left');
    @include u-padding-right(2);
  }
}

@media (min-width: 40em) {
  .bar-top:before {
    content: "";
    height: 2px;
    width: 45px;
    background-color: #c6cace;
    position: absolute;
    top: 0;
    left: 16px;
  }
}